<! DOCTYPE HTML>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="footer, phone, icons" />

<link rel="stylesheet" href="/css/main.css" />

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/navbar.css" />

<link rel="stylesheet" href="/css/w3.css" />

<link rel="stylesheet" href="/css/footer.css" />
	
<link rel="stylesheet" href="/css/font-awesome.min.css" />

<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css" />

<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>

</head>
<!--  this is header -->