@charset "ISO-8859-1";
.container {
	padding: 3%;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.glyphicon.glyphicon-question-sign {
    font-size: 25px;
    vertical-align: middle;
}

  /* Tooltip */
  .songToolTip + .tooltip > .tooltip-inner {
      background-color: #ff8000; 
      color: #FFFFFF; 
      border: 1px solid #ff8000; 
      padding: 15px;
      font-size: 20px;
  }

  /* Tooltip on bottom */
  .songToolTip + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid #ff8000;
  }
