{{>layout/header}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<style>
.w3-tangerine {
  font-family: 'Tangerine', serif;
}
</style>

<body>
	{{>layout/navbar}}

	<br>
	<br>
	
	<div class="w3-container w3-tangerine">
  	<p class="w3-jumbo" align="center">We can't wait to get married and are so honored to have you
			at our wedding! If you would like to help us start our new life
			together, we have registered for items we would love to have in our home (or would graciously accept
			gift cards).</p>
	</div>
	
	<div class="container">
		<div class="row ">

			<div class="col-lg-12">
				<div>

					<div class="w3-card-4">
						<div class="col-md-6">
							<img src="img/bed_bath_beyond.jpg" style="width: 100%">
						</div>
						<div class="col-md-6">
							<img src="img/lowes.jpg" style="width: 100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
{{>layout/footer}}
