{{>layout/header}}
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Tangerine">

<style>
.w3-tangerine {
	font-family: 'Tangerine', serif;
}
</style>

<body>
	{{>layout/navbar}}

	<br>
	<br>

	<div class="w3-container w3-tangerine">
		<p class="w3-jumbo" align="center">We can't wait to get married
			and are so honored to have you at our wedding! If you would like to
			help us start our new life together, we have registered for items we
			would love to have in our home (or would graciously accept gift
			cards).</p>
	</div>

	<div class="container">

		<!-- First Photo Grid-->
		<div class="w3-row-padding">
			<div class="w3-half w3-container w3-margin-bottom">
				<img src="img/bed_bath_beyond.jpg" alt="BedBathBeyond" style="width: 100%">
				<div class="w3-container w3-white">
					<p align="center">
						<a class="btn btn-primary" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=544918714&pwsurl=">Shop Our Registry</a>
					</p>
				</div>
			</div>
			<div class="w3-half w3-container w3-margin-bottom">
				<img src="img/amazon.jpg" alt="Norway" style="width: 100%">
				<div class="w3-container w3-white">
					<p align="center">
						<a class="btn btn-primary" href="https://www.amazon.com/wedding/organize-registry?ref_=cm_wl_search_25&_encoding=UTF8">Shop Our Registry</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/navbar.js"></script>

</body>
{{>layout/footer}}
