{{>layout/header}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/the_cast.css">

<body>
	{{>layout/navbar}}
<div class="container">
  <div class="row ">

    <div class="col-md-12">
      <div>


        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/maid_of_honor_alessandra_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/alessandra_maid_of_honor_cartoon.jpeg">
			  
			  <h2 class="w3-center">Alessandra</h2>
			  <h5 class="w3-center">Maid of Honor</h5>
			  
			  <br><br>
              <div>Relation: Sister of Bride</div>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/bridesmaid_zoe_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/bridesmaid_Zoe.jpg">
			  
			  <h2 class="w3-center">Zoe</h2>
			  <h5 class="w3-center">Bridesmaid</h5>
			  
			  <br><br>
              <div>Relation: Grade School Friend of Bride</div>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/bridesmaid_brittany_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/bridesmaid_brittany.jpg">
			  
			  <h2 class="w3-center">Brittany</h2>
			  <h5 class="w3-center">Bridesmaid</h5>
			  
			  <br><br>
              <div>Relation: College Friend of Bride</div>
            </div>

          </div>
        </div>


      </div>
    </div>
    
    <div class="col-md-12">
      <div>


        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/best_man_sam_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/sam_best_man.jpg">
			  
			  <h2 class="w3-center">Sam</h2>
			  <h5 class="w3-center">Best Man</h5>
			  
			  <br><br>
              <div>Relation: Cousin of Groom</div>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/groomsman_larry_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/groomsman_larry.jpg">
			  
			  <h2 class="w3-center">Larry</h2>
			  <h5 class="w3-center">Groomsman</h5>
			  
			  <br><br>
              <div>Relation: Grade School Friend of Groom</div>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/groomsman_trey_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/groomsman_trey.jpg">
			  
			  <h2 class="w3-center">Trey</h2>
			  <h5 class="w3-center">Groomsman</h5>
			  
			  <br><br>
              <div>Relation: College Roommate of Groom</div>
            </div>

          </div>
        </div>


      </div>
    </div>
    
    <div class="col-md-12">
      <div>


        <div class="col-md-4 col-md-offset-2">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/officiant_nick_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/officiant_nick.jpg">
			  
			  <h2 class="w3-center">Nick</h2>
			  <h5 class="w3-center">Officiant</h5>
			  
			  <br><br>
              <div>Relation: Co-Worker of Bride and Groom</div>
            </div>

          </div>
        </div>
        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="img/musician_matt_cover_photo.jpg">
            <div class="profile-info">

              <img class="profile-pic" src="img/musician_matt.jpg">
			  
			  <h2 class="w3-center">Matt</h2>
			  <h5 class="w3-center">Musician</h5>
			  
			  <br><br>
              <div>Relation: Friend of Groom</div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>

		<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
		<script src="/webjars/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/scrolling-nav.js"></script>
		<script src="/js/navbar.js"></script>
</body>
{{>layout/footer}}